@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;
    --card: 0 0% 97%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 100%;
    --primary: 27 100% 47% 1;
    --primary-foreground: 19 100% 95% 1;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 27 100% 47% 1;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 27 100% 47% 1;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 27 100% 47% 1;
    --text-primary: 240 5% 11% 1;
    --text-foreground: 0 0% 100% 1;
    --placeholder:0 1% 58% 1;
  }

  .dark:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 98%;
    --card: 0 0% 97%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 27 100% 47% 1;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --text-primary: 240 5% 11% 1;
    --text-foreground: 0 0% 100% 1;
    --placeholder:0, 1%, 58%, 1;
  }
}

/* font-family: Gotham Rounded;
font-size: 16px;
font-weight: 325;
line-height: 19.2px;
letter-spacing: 0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


font-family: Gotham Rounded;
font-size: 10px;
font-weight: 350;
line-height: 12px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none; */
